/* Write your CSS here */
.prime-video-image {
  width: 100%;
  height: 36vh;
}

.prime-video-container {
  background-color: #000000;
  color: #ffffff;
}

.movies-container {
  padding: 50px;
  font-family: 'Roboto';
  font-weight: bold;
}
